/* Template Color */
$primary-color: #2a9134;
$main-white: #f1fffa;
$main-black: #242424;
$main-gray: #909090;

/* Template bg(background) Color */
.bgC {
  &-primary {
    background: $primary-color;
  }
  &-secondary {
    background: $main-white;
  }
}

/* Text Style */
.text {
  &-slant {
    font-family: 'Permanent Marker', cursive;
  }
}

/* Transition Effect */
@mixin ease {
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}

/*=====Global CSS=====*/
body {
  font-family: 'Karla', sans-serif;
  color: $main-black;
  background: $main-white;

  a {
    @include ease();
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  button:focus {
    outline: none;
  }
}
.no-padding {
  padding: 0 !important;
}

/* Template Button Effect */
.link {
  &-primary {
    color: $main-white;
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    padding: 0.4rem 0.6rem;
    border: 0.2rem solid $main-white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    @include ease();
    &:hover {
      color: $primary-color;
      background: $main-white;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
      transform: translateY(7px);
      -webkit-transform: translateY(7px);
      -moz-transform: translateY(7px);
      -ms-transform: translateY(7px);
      -o-transform: translateY(7px);
    }
  }
}

.title {
  &-link {
    color: $primary-color;
    background: $main-white;
    font-size: 1.5rem;
    padding: 0.625rem;
  }
  &-underline {
    height: 3px;
    width: 250px;
    background: $primary-color;
    margin: -20px auto 0 auto;
  }
}

/* ----------HEADER TOP ICONS CSS---------- */
.top-icons {
  .top-social-icons {
    a {
      font-size: 1.5rem;
      color: $main-white;
      &:hover {
        color: $main-black;
      }
    }
  }
}
/* ----------HEADER NAV CSS---------- */
header {
  .navbar {
    background: $main-black;
    padding: 0.625rem 1.25rem !important;
    &.navbar-background {
      padding: 0.125rem 1.25rem !important;
    }

    &-brand {
      color: $primary-color;
      font-size: 1.875rem;
      text-transform: uppercase;
      border: 0.2rem solid $primary-color;
      padding: 0.4rem;
      @include ease();
      &:hover {
        background: $primary-color;
        color: $main-white;
      }
    }

    &-toggler {
      padding: 0.5rem;
      border: 0.2rem solid $primary-color;
      .bar-1,
      .bar-2,
      .bar-3 {
        width: 25px;
        height: 3px;
        margin: 0.3rem 0;
        background: $primary-color;
        border-radius: 0.1rem;
        -webkit-border-radius: 0.1rem;
        -moz-border-radius: 0.1rem;
        -ms-border-radius: 0.1rem;
        -o-border-radius: 0.1rem;
        @include ease();
      }
    }

    .change {
      .bar-1 {
        background: red;
        transform: rotate(-45deg) translate(-5px, 6px);
        -webkit-transform: rotate(-45deg) translate(-5px, 6px);
        -moz-transform: rotate(-45deg) translate(-5px, 6px);
        -ms-transform: rotate(-45deg) translate(-5px, 6px);
        -o-transform: rotate(-45deg) translate(-5px, 6px);
      }
      .bar-2 {
        opacity: 0;
      }
      .bar-3 {
        background: red;
        transform: rotate(45deg) translate(-3px, -5px);
        -webkit-transform: rotate(45deg) translate(-3px, -5px);
        -moz-transform: rotate(45deg) translate(-3px, -5px);
        -ms-transform: rotate(45deg) translate(-3px, -5px);
        -o-transform: rotate(45deg) translate(-3px, -5px);
      }
    }

    &-nav {
      .nav-item {
        margin: 0.5rem;

        .nav-link {
          color: $main-white;
          font-size: 1.5rem;
          padding: 0.625rem 1.25rem;
          text-transform: capitalize;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          @include ease();
          &:hover {
            background: $primary-color;
            color: $main-white;
          }
        }
      }

      .nav-active {
        background: $primary-color;
        color: $main-white;
        font-family: 'Permanent Marker', cursive;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
    }
  } /* end NAV */

  .homepage-banner {
    .item-1,
    .item-2,
    .item-3 {
      height: 60vh;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 95%);
    }
    .item-1 {
      background: linear-gradient(
          to right,
          rgba($primary-color, 0.9),
          rgba($primary-color, 0.3)
        ),
        url('../img/banner-1.jpeg') center/cover fixed no-repeat;
    }
    .item-2 {
      background: linear-gradient(
          to right,
          rgba($primary-color, 0.9),
          rgba($primary-color, 0.3)
        ),
        url('../img/banner-2.jpeg') center/cover fixed no-repeat;
    }
    .item-3 {
      background: linear-gradient(
          to right,
          rgba($primary-color, 0.9),
          rgba($primary-color, 0.3)
        ),
        url('../img/banner-3.jpeg') center/cover fixed no-repeat;
    }
  }
}
/* ----------SKILLS CSS---------- */
.skill {
  &-icon {
    background: $main-black;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
    @include ease();
    &:hover {
      background: $primary-color;
      clip-path: polygon(0 0, 60% 0, 100% 100%, 0 100%);
    }
    &:hover span {
      color: $main-white;
    }
    span {
      font-size: 6.25rem;
      color: $main-gray;
      @include ease();
    }
  }

  &-info {
    h3 {
      font-family: 'Permanent Marker', cursive;
    }
    p {
      color: $main-gray;
    }
  }
}
/* ----------ABOUT CSS---------- */
.about {
  #video-modal {
    height: 50vh;
    background: linear-gradient(
        rgba($primary-color, 0.7),
        rgba($primary-color, 0.3)
      ),
      url('../img/video-filler.jpeg') center/cover fixed no-repeat;
    clip-path: polygon(100% 15%, 100% 100%, 0 100%, 0 5%);
    .modal-icon {
      font-size: 5rem;
      color: $main-white;
    }
  }

  .about-content {
    background: $main-gray;
    clip-path: polygon(100% 0, 100% 100%, 0 95%, 0 0);

    .title a {
      background: $main-gray;
    }

    .about-progress {
      background: linear-gradient(
          rgba($main-black, 0.7),
          rgba($main-black, 0.7)
        ),
        url('../img/video-filler.jpeg') center/cover fixed no-repeat;
      outline: 5px solid $primary-color;
      outline-offset: 10px;
    }

    .link-primary {
      border-color: $primary-color;
      &:hover {
        border-color: $main-white;
      }
    }
  }
}
/* ---------- PROJECTS CSS---------- */
.projects {
  .img-container {
    position: relative;
    background: linear-gradient(
      rgba(224, 224, 14, 0.7),
      rgba(224, 224, 14, 0.7)
    );
    overflow: hidden;
    @include ease();

    &:hover .project-link {
      margin-top: 0;
      opacity: 1;
    }

    .project-img {
      opacity: 1;
      @include ease();
      &:hover {
        opacity: 0.3;
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
      }
    }
    .project-link {
      font-size: 4rem;
      color: $primary-color;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      opacity: 0;
      @include ease();

      &:hover {
        color: $main-black;
      }
    }
  }
}
/* ---------- CURRENT PROJECTS CSS---------- */
.current-projects {
  background: $main-gray;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);

  .current-projects-photos {
    min-height: 50vh;
    position: relative;

    .current-project-img {
      width: 50%;
      height: 60%;
      position: absolute;
      @include ease();

      &:hover {
        z-index: 50;
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
      }

      &-1 {
        top: 0;
        left: 10%;
        z-index: 30;
        transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
      }
      &-2 {
        top: 0;
        left: 40%;
        z-index: 40;
        transform: rotate(8deg);
        -webkit-transform: rotate(8deg);
        -moz-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
        -o-transform: rotate(8deg);
      }
      &-3 {
        top: 40%;
        left: 8%;
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
      }
      &-4 {
        top: 41%;
        left: 40%;
        transform: rotate(38deg);
        -webkit-transform: rotate(38deg);
        -moz-transform: rotate(38deg);
        -ms-transform: rotate(38deg);
        -o-transform: rotate(38deg);
      }
    }
  }
}
/* ---------- POSTS CSS---------- */
#posts {
  background: $main-white;
  .card,
  .card-body,
  .card-footer {
    background: transparent;
    border: none;
    border-radius: 0 !important;
  }

  .card {
    position: relative;
    @include ease();
    &:hover .post-status {
      opacity: 1;
    }

    .card-img-top {
      border-radius: 0 !important;
    }

    .post-status {
      position: absolute;
      top: 0;
      right: 0;
      background: #dd0000;
      display: inline-block;
      @include ease();
      opacity: 0;
    }

    .post-link {
      color: $primary-color;
      text-transform: capitalize;
      @include ease();
      &:hover {
        color: #dd0000;
      }
    }
  }
}
/* ---------- CSS---------- */

/* ---------- CSS---------- */

/* ---------- CSS---------- */

/* ----------RESPONSIVE CSS---------- */

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
}
